[access]
	inheritFrom = All-Projects
[submit]
[access "refs/*"]
	owner = group user/jadeim
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/jadeim
	label-Verified = -1..+1 group user/jadeim
	push = group user/jadeim
	read = group user/jadeim
	rebase = group user/jadeim
	removeReviewer = group user/jadeim
	submit = group user/jadeim
[access "refs/heads/*"]
	create = group user/jadeim
	push = +force group user/jadeim
	pushMerge = group user/jadeim
	read = group user/jadeim
[access "refs/tags/*"]
	push = group user/jadeim
	push = +force group user/jadeim
